# Introduction to Jupyter Notebooks

In [15]:
print('Hello, World!')

Hello, World!

In [16]:
a = 123
f"a = {a}"

'a = 123'

In [17]:
a = 123
"a = " + str(a)

TypeError: 'str' object is not callable

In [ ]:
type("abc")

str

In [ ]:
a, b, c = 5.2, "olá", ("1", )
a, b, c

(5.2, 'olá', ('1',))

In [ ]:
a = 7
b = 7.0
a == b

True

In [ ]:
1 == True

True

In [ ]:
a = "Bob"
a + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
100 * "Bob"

'BobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBob'

In [ ]:
5.0 * "Bob"

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
a = 3.3
b = 8.6
b // a

2.0

In [ ]:
dict = {"name": "Boda", "age": 27}
"Name: {}".format(dict["name"])

'Name: Boda'

In [ ]:
import sys

(
	sys.getsizeof(int()),
	sys.getsizeof(float()),
	sys.getsizeof(str()),
	sys.getsizeof(bool())
)

(28, 24, 49, 28)

In [ ]:
sys.getsizeof(2 ** 64 - 1)

36

## Membership

| Operator | Name | Example |
| --- | --- | --- |
| `in` | In | `a in b` |
| `not in` | Not In | `a not in b` |

In [ ]:
input("Name: ")

'LEEEEEEEEE'

In [ ]:
name = input("Qual é o teu nome? ")
age = input("Qual é a tua idade? ")

f"Olá, {name}! Daqui a 10 anos terás {int(age) + 10} anos."

'Olá, Gonçalo! Daqui a 10 anos terás 11 anos.'

In [ ]:
"""
ola
isto tem várias linhas
"""

'\nola\nisto tem várias linhas\n'

In [2]:
a = 324194238

if a >= 0:
	print("a é positivo")
else:
	print("a é negativo")

a é positivo

In [4]:
secret = 'Mary'

password = input("Enter your password: ")

if password == secret:
	print("Access granted")
else:
	print("Access denied")

Access denied

In [7]:
minor = 18
adult = 65
senior = 110

age = int(input("Enter your age: "))
if age < minor:
	print("You are a minor")
elif age < adult:
	print("You are an adult")
elif age < senior:
	print("You are a senior")
else:
	print("You are a super senior")

You are a super senior

In [8]:
for i in range(5):
	print(i)

0
1
2
3
4

In [10]:
for i in range(10, 20, 2):
	print(i)

10
12
14
16
18

In [9]:
for i in range(20, 10, -1):
	print(i)

20
19
18
17
16
15
14
13
12
11

In [12]:
for i in range(10, 20, 0):
	print(i)

ValueError: range() arg 3 must not be zero

In [13]:
for i in range(10, 20, -1):
	print(i)

In [14]:
for c in "Hello World!":
	print(c)

H
e
l
l
o

W
o
r
l
d
!

In [17]:
login = 'mary_anne'
secret = '****'

while True:
	user_login = input("Enter your login: ")
	if user_login != login:
		continue

	user_secret = input("Enter your secret: ")
	if user_secret == secret:
		break

"Access granted"

'Access granted'

In [16]:
sentence = 'Mary had a little lamb'
new_sentence = ''

for i in sentence:
	if i == ' ':
		continue

	new_sentence += i

new_sentence

'Maryhadalittlelamb'

### Exceptions

In [20]:
def divide(a, b):
	return a / b

divide(10, 2)

5.0

In [22]:
divide(10, 0)

ZeroDivisionError: division by zero

In [23]:
try:
	print(divide(10, 0))
except ZeroDivisionError:
	print("You can't divide by zero")

You can't divide by zero

In [25]:
print(divide("abc", (0, 2)))

TypeError: unsupported operand type(s) for /: 'str' and 'tuple'

In [26]:
def hello_world():
	print("Hello, World!")

hello_world()

Hello, World!

In [27]:
def hello(name):
	print(f"Hello, {name}!")

hello("Bob")

Hello, Bob!

In [29]:
name = "x"
hello(name = "Bob")

name

Hello, Bob!

'x'

### Functions

<https://docs.python.org/3/library/functions.html>