# Introduction to Jupyter Notebooks

In [15]:
print('Hello, World!')

Hello, World!

In [16]:
a = 123
f"a = {a}"

'a = 123'

In [17]:
a = 123
"a = " + str(a)

TypeError: 'str' object is not callable

In [ ]:
type("abc")

str

In [ ]:
a, b, c = 5.2, "olá", ("1", )
a, b, c

(5.2, 'olá', ('1',))

In [ ]:
a = 7
b = 7.0
a == b

True

In [ ]:
1 == True

True

In [ ]:
a = "Bob"
a + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
100 * "Bob"

'BobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBobBob'

In [ ]:
5.0 * "Bob"

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
a = 3.3
b = 8.6
b // a

2.0

In [ ]:
dict = {"name": "Boda", "age": 27}
"Name: {}".format(dict["name"])

'Name: Boda'

In [ ]:
import sys

(
	sys.getsizeof(int()),
	sys.getsizeof(float()),
	sys.getsizeof(str()),
	sys.getsizeof(bool())
)

(28, 24, 49, 28)

In [ ]:
sys.getsizeof(2 ** 64 - 1)

36

## Membership

| Operator | Name | Example |
| --- | --- | --- |
| `in` | In | `a in b` |
| `not in` | Not In | `a not in b` |

In [ ]:
input("Name: ")

'LEEEEEEEEE'

In [ ]:
name = input("Qual é o teu nome? ")
age = input("Qual é a tua idade? ")

f"Olá, {name}! Daqui a 10 anos terás {int(age) + 10} anos."

'Olá, Gonçalo! Daqui a 10 anos terás 11 anos.'

In [ ]:
"""
ola
isto tem várias linhas
"""

'\nola\nisto tem várias linhas\n'